.navbar-brand {
  display: flex;
  align-items: center;
  small {
    font-size: .75rem;
    line-height: 1;
    font-weight: 300;
    margin-left: .5rem;
    padding-right: 1.5rem;
    border-right: 1px solid rgba(0,0,0,.5);
    display: inline-block;
  }
}
